<div class="match-footer__nav">

  <div class="match-footer__pass col s6">
    <%= link_to(matches_path, class: "waves-effect waves-light btn-large white", id: 'not-match-button',) do %>
      <span class="teal-text text-accent-2">Pass</span>
    <% end %>
  </div>

  <div class="match-footer__meet col s6">
    <%= link_to(
      matches_path(other_user_id: user.id),
      method: :post,
      class: "waves-effect waves-light teal accent-2 btn-large",
      remote: true, id: 'match-button',
      ) do %>
      <i class="material-icons right">done</i>Meet
    <% end %>
  </div>
</div>

<div class="match-footer__spacer"></div>

