<div class="match-footer">

  <div class="match-footer__nav">

    <div class="match-footer__btn match-footer__btn-pass col s6">
      <a href="" id="not-match-button" class="waves-effect waves-light btn-large white teal-text text-accent-2">
        Pass
      </a>
    </div>

    <div class="match-footer__btn match-footer__btn-meet col s6">
      <a href="" id="match-button" class="waves-effect waves-light teal accent-2 btn-large">
        <i class="material-icons right"></i>Meet
      </a>
    </div>

  </div>

</div>

<div class="match-footer__spacer"></div>

