// Import Google fonts

@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat');


// Define fonts for body and headers
$body-font: 'Hind', sans-serif;
$headers-font: 'Montserrat', sans-serif;



html {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}




// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
