.h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #50E3C2;
  text-align: center;
}

.login-box {
  align-item: center;
}

.form-inputs {
  width: 100%;
}

form#new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-area {
  margin-top: 20vh;
  padding-top: 10px;
  padding-bottom: 40px;
}

.login-button {
  width: 100%;
  margin-top: 15px;
  background-color: #50E3C2;
}

.signing-up {
  margin-top: 15px;
  background-color: #ffab40;
  align-item: center !important;
  color: white !important;
}

.or {
  color: #50E3C2;
  font-weight: bold;
}

.color-signup {
  color: white;
}
