.network-goal {
background-color: white;

}

.user-show__profile-outline {

  width: 150px;
  height: 150px !important;
  margin: 1px;
  border: 2px solid teal;
  border-color: white;
  border-radius: 500px;
}


.user-show__picture-position {
  padding-top: 30pt;
}

.user-show__name {
  color: teal;
  text-shadow: 1.5px 1.5px 2px #404142;
}

.user-show__location {
  text-shadow: 1.5px 1.5px 2px #404142;
}

.user-show__profile-card {
  background-color: #3e2723;
  padding: 10px;
}

.user-show__skills-goals {
  padding: 5px;
}

.user-show__headings {
  color: #4db6ac;
}

.user-show__goal-pics {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.user-show__goal-text {
  font-size: 22px;
  color: #ff9800;
}

