.user-sign-up-form {
  margin: 30px;
}

#profile-format {
  display: flex;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
}

.sign-up-button-format {
text-align: center;
font-family: 'Hind', sans-serif;
font-size: 12px;
}

