<%= render "shared/navbars/settings" %>

<div class="container setting-container">


  <div class="chat-inbox__card settings-paragraph">
  <p>Edit profile</p>
  </div>

  <div class="chat-inbox__card settings-paragraph">
  <p>About .DevBuddy</p>
  </div>

  <div class="chat-inbox__card settings-paragraph">
    <p>Privacy</p>
  </div>

  <div class="chat-inbox__card">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "settings-paragraph") %>
  </div>



</div>
