<div class="match-profile center-align grey lighten-5">
  <div class="background-image-wave-tw">
    <div class="user-partial-profile">
      <div class="user-card-partial  col s12">
        <div class="user-show__picture-position collection-item avatar">
          <img class="user-show__profile-outline avatar-user circle responsive-img z-depth-2 ">
        </div>

        <div>
          <h3 class="user-name-font-header">
            HUgues
          </h3>
        </div>

        <div>
          <ul>
            <li>
              <p>
                <span class="user-show__location white-text">Paris</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="divider divider-partial teal accent-2 center-align"></div>

    <!-- end of picture and name -->
    <div class="container container-index">


      <div class="user-goals-skills  z-depth-2">

      <!-- space -->
        <h5 class="font-header">Skills & interests</h5>
        <div>
          <ul>
            <li>
              <div class="chip">
               Rust
                <i class="close material-icons"></i>
              </div>
              <div class="chip">
               Python
                <i class="close material-icons"></i>
              </div>
              <div class="chip">
               NodeJS
                <i class="close material-icons"></i>
              </div>
            </li>
            <li>
              <div class="chip">
               Full stack
                <i class="close material-icons"></i>
              </div>
              <div class="chip">
               Front-end
                <i class="close material-icons"></i>
              </div>
              <div class="chip">
               Back-end
                <i class="close material-icons"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div style="height: 30px;">
      <!-- space -->

      </div>
      <!-- end of the chips -->
        <h5 class="goals-font-header">Goals</h5>
        <div class="row">
          <div class="col s4">
            <div class="user-goals-icon  z-depth-2">
             <img class="responsive-img user-show__goal-pics" src= '<%= image_path "network.svg" %>'>
             <p class="user-goals-text">Networking</p>
            </div>
          </div>
          <div class="col s4">
            <div class="user-goals-icon  z-depth-2">
             <img class="responsive-img user-show__goal-pics" src= '<%= image_path "objectif.svg" %>'>
             <p class="user-goals-text">Career opportunity</p>
            </div>
          </div>

          <div class="col s4">
            <div class="user-goals-icon  z-depth-2">
             <img class="responsive-img user-show__goal-pics" src= '<%= image_path "freelance.svg" %>'>
             <p class="user-goals-text">Career opportunity</p>
            </div>
          </div>
        </div>
      <!-- end of the icons  -->


        <div class="box-test z-depth-2" >
          <div class="collapsible-header" tabindex="0" style="
            outline: none;
            ">
            <h5 class="box-test-header">
              Expertise
            </h5>
          </div>
          <div class="box-test-content" style="display: block;">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.</span>
          </div>
        </div>

        <div class="box-test z-depth-2" >
          <div class="collapsible-header" tabindex="0" style="
            outline: none;
            ">
            <h5 class="box-test-header">
              Professional Experience
            </h5>
          </div>
          <div class="box-test-content" style="display: block;">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.</span>
          </div>
        </div>

        <div class="box-test z-depth-2" >
          <div class="collapsible-header" tabindex="0" style="
            outline: none;
            ">
            <h5 class="box-test-header">
              Experiences
            </h5>
          </div>
          <div class="box-test-content" style="display: block;">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.</span>
          </div>
        </div>
      <!-- end of test -->


      <!--   <div class="collapsible-header" tabindex="0" style="
          background-color: turquoise;
          outline: none;
          ">
          <i class="material-icons">filter_drama</i>Education
        </div>
        <div class="collapsible-body" style="display: block; background-color: white;">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</span>
        </div>




        <div class="collapsible-header" tabindex="0" style="
          background-color: turquoise;
          outline: none;
          ">
          <i class="material-icons">filter_drama</i>Experience
        </div>
        <div class="collapsible-body" style="display: block; background-color: white;">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</span>
        </div>

   -->


  <!--       <div class="background-user">
          <div class="section">
            <h5 class="user-experience">Experience</h5>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque maxime deserunt dolor saepe, aut qui, enim earum!
          </div>
          <div class="divider teal accent-2"></div>
          <div class="section">
            <h5 class="user-education">Education</h5>
            Obcaecati deserunt dicta nulla quas expedita doloremque dolores ipsum placeat laborum perspiciatis? Voluptates!
          </div>
          <div class="divider teal accent-2"></div>
        </div> -->
      <!-- end of background user -->

        <div class="divider teal accent-2"></div>

        <div>
          <h5 class="user-show__headings">
            About me
          </h5>
          <p class="flow-text grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ipsam nulla molestiae, beatae assumenda labore, recusandae incidunt numquam. Beatae ipsam fuga iure est autem optio ipsum explicabo, natus incidunt inventore..</p>
        </div>
    <!-- end of user description -->
    </div>
  </div>
</div>
