  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title"><%= user.name %></span>
          <a class="btn-action"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am comming from <%= user.location %>
          I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
