<div class="carousel-fixed-item center">
      <%= link_to "Join Now", new_user_registration_path, class: "btn waves-effect white grey-text darken-text-2" %>
      <%= link_to "Sign In", users_path, class: "btn waves-effect white grey-text darken-text-2" %>
    </div>
  <div class="carousel carousel-slider center">

      <h2> .DevBuddy </h2>
      <p class="white-text">Meet the smartest nerds around you</p>
    </div> -->

    <div class="carousel-item teal white-text">
      <h2> .DevBuddy </h2>
      <p class="white-text">Meet the smartest nerds around you</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2> Describe your interest and goals </h2>
      <p class="white-text">Blah blah blah blah blah ....</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2> Connect and become a buddy of developer </h2>
      <p class="white-text">Blah blah blah blah blah ....</p>
    </div>
  </div>


