<%= render "shared/navbars/main" %>

<div class="match-mount">
  <div class="match-mount__wrapper">
    <div class="match-mount__point match-mount__point--top">
      <%= render "shared/match", user: @user_a %>
    </div>

    <div class="match-mount__point match-mount__point--bottom">
      <%= render "shared/match", user: @user_b %>
    </div>
  </div>
</div>

<%= render "components/match-footer" %>
