<div class="container">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">

      <img class="avatar-user circle responsive-img z-depth-2 activator" style="
        width: 150px; height: 150px;
        margin: 1px;
        border: 2px solid grey;
        border-color: #64ffda;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;" src= '<%= image_path "adultw.jpg" %>'>
      <img class="avatar-user circle responsive-img z-depth-2 activator" style="
        width: 150px; height: 150px;
        margin: 1px;
        border: 2px solid grey;
        border-color: #64ffda;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;" src= '<%= image_path "dylan.jpg" %>'>
    </div>



    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">A new buddy is waiting for you<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Send a message</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

