.chat-inbox__card {
  display: flex;
  padding: 10px;
  background-color: #fafafa;
}

.chat-inbox__avatar img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-inbox__details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.chat-inbox__details-top {
  display: flex;
  justify-content: space-between;
}

.chat-inbox__user-name {
  font-weight: 700;
}

.chat-inbox__message-datetime {
  font-weight: 100;
}

.chat-inbox__message {
  margin-bottom: 10px;
  font-size: 0.9em;
}
