.chat-room {
  display: flex;
  height: calc(100vh - 44px);
  flex-direction: column;
}

.chat-room__header {
  display: flex;
  width: 100%;
  padding: 5px;
  background-color: #fafafa;
  justify-content: space-between;
  align-items: center;
}

.chat-room__name {
  margin-right: 20px;
}

.chat-room__box {
  background-color: #50E3C2;
  background: linear-gradient(to bottom, rgba(80,203,175,0.1), rgba(80,203,175,1));
  overflow: scroll;
  padding: 30px;
  flex: 1 1 auto;
}

.chat-room__form {
  display: flex;
  width: 100%;
  padding: 5px;
  align-items: center;
  background-color: #58cab0;
}

.chat_room_message_message{
  width: calc(100% - 20px - 20px);
}

.chat-room__message-input {
  position: relative;
  margin-bottom: 0 !important;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  bottom: 10px;
  border: 1.5px solid #E4E4E4;
}

.chat-room__message-send {
  height: 100%;
  margin-left: -39px;
  margin-top: -10px;
}

.chat_room_message_message {
  // flex: 1 0 auto;
}

.chat-room__message {
  padding: 0 3px;
  border-radius: 1px;
  display: inline-block;
  word-break: break-all;
  max-width: 80%;
}

.chat-room__message--me {
  background-color: white;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.chat-room__message--not-me {
  background-color: white;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.chat-room__message-box {}

.chat-room__message-box--me {
  text-align: right;
}

.chat-room__message-box--not-me {
  text-align: left;
}

.chat-room__message-send {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 30px;
  height: auto;
  bottom: 23px;
}

