
.chat-inbox__card {
  display: flex;
  padding: 10px;
  background-color: #fafafa;
  margin: 20px 8px;
}

.chat-inbox__avatar img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #50E3C2;
}

.chat-inbox__details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.chat-inbox__details-top {
  display: flex;
  justify-content: space-between;
}

.chat-inbox__user-name {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #50E3C2;
}

.chat-inbox__message-datetime {
  font-weight: 100;
  font-family: 'Hind', sans-serif;
  color: #50E3C2;
  font-size: 13px;

}

.chat-inbox__message {
  flex: 1 0 auto;
  margin-bottom: 10px;
  font-family: 'Hind', sans-serif;
  font-size: 13px;
  color: #50E3C2;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
