.match-footer__nav {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 425px;
  padding: 5px;
  background-color: gray;
  justify-content: space-between;
  z-index: 5;
}

.match-footer__btn-pass {}

.match-footer__btn-meet {}

.match-footer__spacer {
  height: 64px;
}
