.profile-nav {
  background: white;
  height: 60px;
  // color: black;
  box-shadow: gray;
  background-color: #424242;

}

.brand-logo {
  // color: black !important;
}

.dropdown-trigger {
  color: white;
}

.left {
  margin-left: 10px;
  position: absolute;
  font-size: 18px;
  color: black !important;
}
