.navbar-profile {
  display: flex;
  padding: 5px 20px;
  background-color: #424242;
  font-size: 1.6em;
  width: 100%;
  justify-content: space-between;
  box-shadow: gray;
}

.navbar-profile__link {
  color: #d0d0d0;
  text-decoration: none;
}
