.nav-wrapper {
  background: white;
  height: 60px;
  color: black;
  box-shadow: gray;
}

.brand-logo {
  color: black !important;
}

.dropdown-trigger {
  color: black;
}

.left {
  margin-left: 10px;
  position: absolute;
  font-size: 18px;
  color: black !important;
}
