.navbar-main {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 5px 20px;
  background-color: #424242;
  font-size: 1.6em;
  justify-content: space-between;
}

.navbar-main__link {
  color: #d0d0d0;
  text-decoration: none;
}

.navbar-main__spacer {
  height: 44px;
}
