<nav>
  <div class="nav-wrapper home">

    <ul class="left">
      <li><%= link_to "Profile", profile_user_path %></li>
    </ul>

    <ul class="right">
      <li><%= link_to "Chats", inbox_chat_path %></li>
    </ul>

  </div>
</nav>
