<div class="navbar-devbuddy">

  <%= link_to "Profile", users_path, class: "navbar-devbuddy__link" %>
  <%= link_to "Match", matches_path, class: "navbar-devbuddy__link" %>
  <%= link_to "Chat", contacts_path, class: "navbar-devbuddy__link" %>

</div>
