<div class="navbar-profile">

  <%= link_to "Back", matches_path, class: "navbar-profile__link" %>

  <%= link_to setting_user_path, class: "navbar-profile__link" do %>
    <i class="fas fa-cog"></i>
  <% end %>


</div>
