<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Account</a></li>
  <li><%= link_to "Edit", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path %></li>
</ul>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Me</a>
      <ul class="right">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
          <i class="fas fa-cog"></i>
        </a></li>
      </ul>
      <ul class="left">
        <li><%= link_to "Back", users_path %></li>
      </ul>
    </div>
  </nav>





