<div class="navbar-dev-buddy">

  <%= link_to root_path, class: "navbar-dev-buddy__link" do %>
   <%= image_tag "icon_back.png" %>
  <% end %>

  <%= link_to "Settings", settings_user_path, class: "navbar-dev-buddy__link" %>

  <div></div>

</div>

<div class="navbar-dev-buddy__spacer"></div>
