<div class="navbar-devbuddy">

  <%= link_to "My Profile", users_path, class: "navbar-devbuddy__link" %>
  <%= link_to "Match", user_matches_path(current_user), class: "navbar-devbuddy__link" %>
  <%= link_to "Chat", contacts_path, class: "navbar-devbuddy__link" %>

</div>

